html {
    max-width: 980px;
    font-size: 24px; /* px means "pixels": the base font size is now 10 pixels high  */
    font-family: 'Amatic SC', cursive; /* this should be the rest of the output you got from Google fonts */
    background-color: #DFBF1F;
    color: #423838;
    margin: auto;
}

h1 {
    font-size: 60px;
    text-align: left;
}

p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

a {
    font-size: 20px;
    color: #666666;
}

img {
    max-width: 100%;
    max-height: 100%;
}

/* CSS Table definitions */

table {
  border-collapse: collapse;
  width: 100%;
  padding: 10px;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #666666;
  }
  
tr:hover {background-color:#f5f5f5;}

/* CSS Grid definitions */

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-gap: 10px;
}

.grid-item-content {
    display: grid;
    grid-template-rows: auto auto;

    height: auto;

    background-color: #B7B7B7;
}

.grid-item-insert {
    display: grid;
    grid-template-columns: auto auto auto auto auto;

    grid-row: 1;
    padding: 10px;
}

.grid-item-insert-field {
    padding: 8px 0px;
}

.grid-item-table {
    grid-row: 2;
    background-color: #B7B7B7;
}


.grid-item-stats {
    height: 200px;

    background-color: #666666;
}


/* Input styles */
input[type=text], select {
    width: 100%;
    padding: 5px 5px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Minescallenous */
.site-banner {
    margin: auto;
}

.site-logo {
    height: 100px;
    max-width: inherit;
    display: block;
}

.button {
    border: none;
    border-radius: 4px;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;

    background-color: #666666;
    font-size: 24px;
    font-family: 'Amatic SC', cursive;
    transition-duration: 0.4s;
}

.button:hover {
    background-color: #999999; /* Green */
    color: white;
}